@font-face {
    font-family: 'Adelon-Serial-Regular';
    src: url("fonts/Adelon-Serial-Regular.ttf");
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
    background-color:black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
    font-family: 'Adelon-Serial-Regular',"Palatino Linotype", "Book Antiqua", Palatino, serif;}

#banner{
    background-image: url("images/phoenix.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    text-align: center;
    color:white;
    border-bottom: 5px ridge #ff9955;
}

#banner h1{
    font-size: 70px;
}

#banner h3{
    font-size: 20px;
}

#about{
    background-color: #eeeedd;
    text-align: center;
    color:#333333;
}

#about h1{
    color: #332233;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#projGrid{
    background-color:white;
}

#projects p{
    margin-top:10px;
}

#projHead{
    background-color:#ff9955;
}

#projHead h1{
    font-size: 48px;
}

#projHead{
    text-align: center;
}

#proj-1 .col-md-4{
    text-align: center;
    border-radius: 7px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#proj-1 h1{
    border-bottom: 3px solid #ff9955;
}

#proj-1 img{
    max-height:80px;
    max-width:100%;
    height:auto;
    width:auto;
}

#contact{
    background-color: #eeeedd;
    text-align: center;
}

#contact img{
    width:100%;
    border-radius:10%;
    margin-bottom:10px;
}

#contact h1{
    font-size:48px;
    margin-top:5px;
}

#contact .fa-comments{
    margin-top: 5px;
}


#contactLinks{
    list-style-type:none;
    margin:0px;
    padding:0px;
    text-align: center;
    font-size: 25px;
    display: inline;
}

#footer{
    background-color:#333333;
    color:#eeeeee;
    text-align: center;
}

#footer p{
    margin-top: 10px;
    margin-bottom:10px;
}

.fullWidth
{
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

#bulb{
    font-size: 180px;
}

.fa-cog{
    margin-top: 20px;
}

.eq-height{
    overflow: hidden; 
}